<html>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <head>
        <script src="https://logly.uk/p.js?s=sxs-helper-github-io-onrender-co" data-site="sxs-helper-github-io-onrender-co" async></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!----><title>Gear Calculator</title>
    </head>

    <body class="container">
        
        <div class="home-wrapper">
            <a href="/" class="home-link">Home</a>
        </div>

        <form action="/essence-calculator" method="POST">
            <label for="season">Season:</label>
            <select id="season" name="season">
                <option value="2">Loong Haven</option>
            </select>

            <h1>Skill Upgrade Calculator</h1>

            <label for="current_resource">Current Battle Essence:</label>
                <input type="number" name="current_resource" min="0" value="{{original_resource}}" required>
            <div>

            <label for="resonance">Resonance</label>
                <input type="number" name="resonance" min="130" value="{{resonance}}" style="width: 75px;">
                <br>
            </div>
            {% for slot in range(slot_num) %}
                <label for="ore_slot{{slot}}">Skill Slot {{slot + 1}}</label>
                    <input type="number" name="{{resource_type}}_slot{{slot}}" min="130" max="260" value="{{dupe[slot] or default_min}}" required style="width: 75px;">
                {% if loop.index % 4 == 0 %} 
                    <br>
                {% endif %}
            {% endfor %}

            {% if levels %}
                <div class="results">
                    Your skill levels will reach:
                    {% for level in levels %}
                        {{level}}
                        {% if not loop.last %}
                            ,
                        {% endif %}
                    {% endfor%}
                    <br>
                    You will have {{current_resource}} battle essence remaining.
                </div>
            {% endif %}
            
            <button type="submit">Calculate</button>
        </form>

    </body>
</html>
