<html>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <head>
        <title>Gear Calculator</title>
    </head>

    <body class="container">
        
        <div class="home-wrapper">
            <a href="/" class="home-link">Home</a>
        </div>

        <form action="/gear-calculator" method="POST">
            <label for="season">Season:</label>
            <select id="season" name="season">
                <option value="2">Loong Haven</option>
            </select>

            <h1>{{resource_type}} Upgrade Calculator</h1>

            <label for="current_resource">Current Ore:</label>
                <input type="number" name="current_resource" value="1000000" required>
            <div>

            {% for slot in range(slot_num) %}
                <label for="ore_slot{{slot}}">{{resource_type}} Slot {{slot + 1}}</label>
                    <input type="number" name="{{resource_type}}_slot{{slot}}" min="130" max="260" value="130" required style="width: 75px;">
            {% endfor %}

            {% if levels %}
                <div class="results">
                    Your gear levels will reach:
                    {% for level in levels %}
                        {{level}}
                        {% if not loop.last %}
                            ,
                        {% endif %}
                    {% endfor%}
                    <br>
                    You will have {{current_resource}} {{resource_type}} remaining.
                </div>
            {% endif %}
            
            <button type="submit">Calculate</button>
        </form>

    </body>
</html>
