<html>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <head>
    <head>
        <title>Sword x Staff Helper</title>
    </head>

    <body>
        <div class="main-page">
            <h1> Sword x Staff Helper </h1>
            <div class="link-list">
                <a href="/experience-calculator" class="link-item">Experience Calculator</a>
                <a href="/skills" class="link-item">Skills Database</a>
                <a href="/cart-calculator" class="link-item">Cart Calculator</a>
                <a href="/gear-calculator" class="link-item">Gear Calculator</a>
            </div>
        </div>
    </body>
</html>
