<html>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <head>
        <script src="https://logly.uk/p.js?s=sxs-helper-github-io-onrender-co" data-site="sxs-helper-github-io-onrender-co" async></script>
        <title>Skills Library</title>
    </head>

    <body class="container">
        <div class="home-wrapper">
            <a href="/" class="home-link">Home</a>
        </div>

        <form action="/skills" method="POST">
            <label for="selected_class">Class Tier: </label>
            <select id="selected_class" name="selected_class">
                
                <option value="Destroyer" 
                {% if selected_class == "Destroyer" %} 
                    selected
                {% endif %}
                >Destroyer</option>
                <option value="Dominator" 
                {% if selected_class == "Dominator" %}
                    selected
                {% endif %}
                >Dominator</option>
                <option value="Conqueror" 
                {% if selected_class == "Conqueror" %}
                    selected
                {% endif %}
                >Conqueror</option>
                <option value="Guardian" 
                {% if selected_class == "Guardian" %}
                    selected
                {% endif %}
                >Guardian</option>

                <!--
                <option value="Magister" 
                {% if selected_class == "Magister" %} 
                    selected
                {% endif %}
                >Magister</option>
                <option value="Prophet" 
                {% if selected_class == "Prophet" %}
                    selected
                {% endif %}
                >Prophet</option>
                <option value="Ravager" 
                {% if selected_class == "Ravager" %}
                    selected
                {% endif %}
                >Ravager</option>
                <option value="Templar" 
                {% if selected_class == "Templar" %}
                    selected
                {% endif %}
                >Templar</option>
                -->

            </select>
            <button type="submit">Submit</button>

            {% if skills_data %}
                {% for class_name in skills_data.keys() %}
                    <h1>{{ class_name }}</h1>
                    <div style="display: flex;">
                        <div class="Techniques" style="flex: 1;">
                            <h2>Techniques</h2>
                            {% for quality_type in base_qualities %} 
                                {% for skill in skills_data[class_name]["Technique"][quality_type] %}
                                    <div class="skill-entry">
                                    <img class="technique-icon" src="{{ url_for('static', filename='skill_icons/' + skill['Skill'] + '.png') }}" alt="{{ skill['Skill'] }}">
                                        <div>
                                            <h3><span class="{{ quality_type }}">{{ skill['Skill'] }}</span></h3>
                                            <p>{{skill['Description']}}<br>
                                                {% if skill['CD'] %} 
                                                    CD: {{skill['CD']}} turns, 
                                                {% endif %}
                                                {% if skill['Immortal'] %}
                                                    {{skill['%']}}%:
                                                    {% for quality in quality_order %}
                                                {% if skill[quality] %} 
                                                        <span class="{{ quality }}">{{ skill[quality] }}</span>
                                                            {% if quality != "Immortal" %} 
                                                                    /
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endfor %}
                                                {% elif skill['Skill'] in multi_skills %}
                                                    Multi-value skills are not currently supported
                                                {% else %}
                                                    {% if skill['Skill'] in summon_skills %}
                                                        Summoning skills are not supported
                                                    {% else %}
                                                        Flat values are not supported
                                                    {% endif %}
                                                {% endif %}
                                            </p>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endfor %}    
                        </div>

                        <div class="Charms" style="flex: 1;">
                            <h2>Charms</h2>
                            {% for quality_type in base_qualities %} 
                                {% for skill in skills_data[class_name]["Charm"][quality_type] %}
                                    <div class="skill-entry">
                                    <img class="charm-icon" src="{{ url_for('static', filename='skill_icons/' + skill['Skill'] + '.png') }}" alt="{{ skill['Skill'] }}">
                                        <div>
                                            <h3><span class="{{ quality_type }}">{{ skill['Skill'] }}</span></h3>
                                            <p>{{skill['Description']}}<br>
                                                {% if skill['Immortal'] %}
                                                    {{skill['%']}}%:
                                                    {% for quality in quality_order %}
                                                        {% if skill[quality] %} 
                                                            <span class="{{ quality }}">{{ skill[quality] }}</span>
                                                            {% if quality != "Immortal" %} 
                                                                    /
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endfor %}
                                                {% elif skill['Skill'] in multi_skills %}
                                                    Multi-value skills are not currently supported
                                                {% else %}
                                                    {% if skill['Skill'] in summon_skills %}
                                                        Summoning skills are not supported
                                                    {% else %}
                                                        Flat values are not supported
                                                    {% endif %}
                                                {% endif %}
                                            </p>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endfor %}   
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </form>
    </body>
</html>
